@import url('https://fonts.googleapis.com/css?family=Rokkitt&display=swap');

body{
    margin: 0;
}

/* partie franck */

/* footer */
.container-fluid-bg-grey{
    width:100%;
    margin: 0;
    background-color: #424242;
}

.container{
    width:80%;
margin:0 auto;
max-width: 1170px;
}

.d-flex{
    display:flex;
}

.col{
width:23%;
}


.bg-grey{
    background-color: #424242;

}
input,textarea{
    background-color: #222222;
    
}
input,textarea{
    padding:10px;
    border:1px solid #222222;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #222222;
} 

label{
    margin-top: 10px;
    display:block;
}

label.inline{
    display:inline;
    margin-right: 50px;
}

input [type=radio] {
    background-color: transparent;
    border:none;
    width:10px;
}

.boutton-submit {
    width:100px;
    background-color: #76c38f;
    border:none;
    margin-top: 10px;
    margin-bottom: 30px;
}


#quick-links p{
    color: #76c38f;
    border-bottom: solid 1px#979797;
}

.container-fluid-bg-grey2{
    border-top:solid 1px #222222;
    background-color: #2b2b2b;
    border-bottom: solid 1px#979797;
}

.f-justify-content-between{
    justify-content: space-between;
}

.f-justify-content-around{
    justify-content: space-around;
}


.color-grey{
    color:#979797
}


.color-green{
    color:#76c38f;
}

.color-yellow{
    color: #ffffff;
}