@import url('https://fonts.googleapis.com/css?family=Rokkitt&display=swap');

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}





/* systeme flex */


.d-flex{
    display:flex;
}

.col{
width:23%;
}


.bg-grey{
    background-color: #424242;

}
input,textarea{
    background-color: #222222;
    
}
input,textarea{
    padding:10px;
    border:1px solid #222222;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #222222;
} 

label{
    margin-top: 10px;
    display:block;
}

label.inline{
    display:inline;
    margin-right: 50px;
}

input [type=radio] {
    background-color: transparent;
    border:none;
    width:10px;
}

.active{
    border: 11px solid #76c38f;
    background-color: #76c38f;
    border:none;
    margin-top: 10px;
    margin-bottom: 30px;
}

ul > li.active > a, ul.portfolio-nav{
    color:  white;
    font-family: rokkitt;
}

#quick-links p{
    color: #76c38f;
    border-bottom: solid 1px#979797;
}

/*section header*/
header{
    background-color: white;
    background-blend-mode:  luminosity;
    background-position: center;
    background-size: cover;
}

/*--------------------------section sacha slider start-----------------------------------*/

/*---------------------------system couleur start---------------------------------------*/
.slider-bg-color{
    background-color: #290000;
}

.slider-text-white{
    color: white;
}

.slider-text-grey{
    color: #979797;
}

.slider-bg-bluegreen{
    background-color: #76c38f;
}
/* ----------------------systeme couleur end -----------------*/


.slide1 .slider-col{
    width: 50%;
}
.slide2 .slider-col{
    width: 50%;
}
.slide3 .slider-col{
    width: 50%;
}

/*------------------system flex slide start--------------------------*/
.slider-d-flex{
    display: flex;
    flex-wrap: nowrap;
}

.inner-slide-d-flex{
    display: flex;
    flex-wrap: wrap;
}

.align-center{
    align-items: center;
}
/*--------------------system flex slide end-----------------------*/

/*-------------------------system taille text start------------------*/
.slider-title{
    font-size: 40px;
}

.slider-text{
    font-size: 20px;
}

.slider-button-text{
    font-size: 25px;
}
/* ------------------systeme taille text end -------------------------*/


.slides-container {
    padding: 40px;
}


.slide2, .slide3{
    display: none;
}

/*------------section image slider start------------------*/
.slide-img1{
    /*les deux points permettent de revenir en arriere en terme de dossier*/
    background-color: lightgrey;
    background-image: url("../media/wine-img.jpg");
    background-size: cover;
    background-position: center;
    border: 30px solid #6b6b6b;
    border-radius: 50%;
    max-width: 380px;
    height: 380px;
    color: white;
    margin: 0 auto;
}

.slide-img2{
    /*les deux points permettent de revenir en arriere en terme de dossier*/
    background-color: lightgrey;
    background-image: url("../media/fish-img.jpg");
    background-size: cover;
    background-position: center;
    border: 30px solid #6b6b6b;
    border-radius: 50%;
    max-width: 380px;
    height: 380px;
    color: white;
    margin: 0 auto;
}

.slide-img3{
    /*les deux points permettent de revenir en arriere en terme de dossier*/
    background-color: lightgrey;
    background-image: url("../media/pizza-img.jpg");
    background-size: cover;
    background-position: center;
    border: 30px solid #6b6b6b;
    border-radius: 50%;
    max-width: 380px;
    height: 380px;
    color: white;
    margin: 0 auto;
}

/* .slider-col .slide-img{
} */

/*--------------section image slider end--------------*/

#left-button-col, #right-button-col{
    align-self: center;
}

/*------------------------button style section start------------------*/
.read-more-button{
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}

#left-button{
    /* background-image: url("../media/arrow-left.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%; */
    cursor: pointer;
}






/* system color */
.bg-color-red{
    background-color: #660000;
}
.bg-color-white{
    background-color: #ffffff;
}




/* partie services */



.container-services{
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px 0;
}


h3{
    margin: 0;
    font-size: 30px;
    
}



.col-services{
    margin: 0;
    padding: 20px;
    width: 23%;
    text-align: center;
    box-sizing: border-box;
}
.col-services:hover{
    background-color: #76c38f;
    color: #ffffff;
    cursor: pointer;
}



.services-box-photo{
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    background-position: center;
    background-size: cover;
    background-color: #ffffff;
}

.color-green{
    color:#76c38f;
}

/* partie franck */

.bg-grey{
    background-color: #303030;


}
#right-button{
    /* background-image: url("../media/arrow-right.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%; */
    cursor: pointer;
}


/* partie franck */

/* footer */
.container-fluid-bg-grey{
    width:100%;
    margin: 0;
    background-color: #424242;
}

.container{
    width:80%;
margin:0 auto;
max-width: 1170px;
}



/*--------------button style section end--------------*/



/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
  }
  


/*--------------------------section sacha slider start-----------------------------------*/








/* section LATEST WORK */

.bg-grey-radius{
    background-color: #303030;
    width: 223px;
    color: #ffffff;
    text-align: center;
    padding: 8px;
    border-radius: 7px;
}
.line{
    border-top: #303030 3px solid;
    width: 40%; 
}

.container-latestwork{
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
}

.latestwork-box-photo{
    width: 290px;
    height: 190px;
    margin: 25px 5px;
    background-position: center;
    background-size: cover;
    border: #ffffff 6px solid;
}
.latestwork-box-photo:hover{
    border: #76c38f 6px solid;
    margin: 25px 5px;
    cursor: pointer;
}
.latestwork-box-photo:hover p{
    display: none;
}


.latestwork-photo{
    background-image: url(../media/asia-4466113_1920.jpg)
}

.d-flex-lw{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hidden{
    background-color: #303030;
    color: #ffffff;
    margin: 0;
    width: 290px;
    text-align: center;
    padding:5px;
}


.border-bottom{
    border-bottom: #404040 1px solid;
    width: 100%;
    padding-bottom: 5px;
}


.c-pointer{
    cursor: pointer;
}

.color-white{
    color: #ffffff;
}
.color-green{
    color: #76c38f;
}
.color-lightgrey{
    color: #979797;
}
/* section footer */


.container-contact{
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.col-footer{
    width: 23%;
}

.text{
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    background-color: #222222;
    border: none;
    color: white;
    border-radius: 14px;
    outline: none; 
    width: 100%;
    
}
textarea{
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    background-color: #222222;
    border: none;
    color: white;
    border-radius: 14px;
    outline: none; 
    width: 100%;
    resize: none;

}
    

.button{
    background-color: #76c38f;
    color: #303030;
    border: none;
    border-radius: 14px;
    padding: 10px 20px;
    font-weight: bold;
    outline: none;
    text-transform: uppercase;   
}

    

